<div class="container" style="margin-top: 50px">
  <p style="color: red">J'ai pas pu récupérer les images de chaque Item. Du coup j'ai mis une image statique</p>
  <h3>{{flux.title}}</h3>
  <p><b>{{flux.description}}</b></p>
  <p>{{flux.copyright}}</p>

  <div class="card" style="margin-top: 30px">
    <div class="card-header">
      Flux RSS du {{flux.pubDate  | date}}
    </div>
    <div class="card-body">
      <div class="card border-0 espace" *ngFor="let item of items">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://img.lemde.fr/2022/04/12/325/0/5000/2500/644/322/60/0/5b3109a_5966281-01-06.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body" >
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text">{{item.description}}</p>
              <div>
                <p class="card-text"><small class="text-muted date">{{item.pubDate}}</small></p>
                <a href="{{item.link}}" target="_blank" class="btn btn-outline-primary link">Visitez</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

